.field[b-rsff93w4rw] {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.authorBlock[b-rsff93w4rw] {
    display: flex;
    flex-direction: column;
}
.label[b-rsff93w4rw] {
    width: 200px;
}
.valueField[b-rsff93w4rw] {
    width: 400px;
}
.artAuthors[b-rsff93w4rw] {
    display: flex;
    flex-direction: column;
}
.authorTag[b-rsff93w4rw] {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #8b008bff;
    border-radius: 8px;
    background-color: #ff00ff44;
}
