@page "/Exhibit/{ExhibitId}"
@using CourseWorkMuseumBlazorApp.Services

<h3>Информация об экспонате</h3>
@if (CurrentExhibit != null)
{
    <div class="authorBlock">
        <div class="field">
            <label class="label">Идентификатор</label> <input class="form-control valueField" type="text" value="@CurrentExhibit.ExhibitId" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">Название</label> <input class="form-control valueField" type="text" value="@CurrentExhibit.Name" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">Автор</label> <input class="form-control valueField" type="text" value="@CurrentExhibit.Author" aria-label="Disabled input example" disabled readonly>
        </div>
    </div>
}

@code {
    [Parameter]
    public string ExhibitId { get; set; }
    public List<Data.Models.Exhibit> Exhibits { get; set; }
    public Data.Models.Exhibit? CurrentExhibit { get; set; }
    [Inject]
    private IExhibitProvider exhibitsProvider { get; set; }
    protected async override Task OnInitializedAsync()
    {
        CurrentExhibit = await exhibitsProvider.GetOne(Int32.Parse(ExhibitId));
        Exhibits = await exhibitsProvider.GetAll();
        Console.WriteLine(CurrentExhibit);
        base.OnInitialized();
    }
}