<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
	<title>Welcome</title>
</head>
<body>
<div class="video-bg">
		<a asp-action="MainPage"><video src="WelcomeVideo/WelcomePage.mov" type="video/mov" muted="" autoplay=""></video></a>
	</div>
</body>
</html>
