<!DOCTYPE HTML>
<head>
    <title>Jake Wood-Evans: The Edge of Reality</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
</head>

<header class="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 shadow-sw">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="MainPage">MOMA.</a>
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="MainPage">Главная страница</a>
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="Magic1">Билеты</a>
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="Magic1">Посетителям</a>
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="Exhibitions">Экспонаты</a>
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="Magic1">События</a>
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="Magic1">О музее</a>
        </nav>
    </div>
</header>


<body>

<div class="introdactions">
    <div class="container">
        <div class="section-header">
            <h1 class="section-subtitles">The Edge of Reality</h1>
            <h6 class="section-titles">Jake Wood-Evans</h6>
        </div>
    </div>
</div>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-right text-lg-start">
            <p class="lead mb-4">
                Новейшая работа Джейка Вуда-Эванса разворачивается в серии сказочных моментов. 
                Одновременно земная и странная, выставка представляет собой созвездие неземных виньеток, 
                которые парят между реальностью и альтернативным существованием.
            </p>
        </div>
        <div class="cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a asp-action="GroupExhibition"><img src="https://artlogic-res.cloudinary.com/w_2000,h_1600,c_limit,f_auto,fl_lossy,q_auto:good/ws-unitlondon3/usr/exhibitions/images/feature_panels/1952/unitlondon-139-jpeg.jpg" width="500" height="500" alt=""></a>
        </div>
    </div>
</div>

<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Призрачные фигуры и пейзажи занимают сверхъестественный мир, 
            где сходятся прошлое и настоящее; сосуществуют многочисленные временные линии, 
            поскольку элементы истории просачиваются в наш современный опыт. 
            Используя знакомый справочный материал, Вуд-Эванс сочетает двусмысленное с неожиданным, 
            вводя нас в пространство, в котором каждая картина задерживается на границе потустороннего плана. 
            По сути, Край Реальности призывает нас смотреть дальше, разрушая то, что, как нам кажется, 
            мы знаем, чтобы уступить место новым областям дополнительных значений.
        </p>
    </div>
</div>



<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <p class="lead mb-4">
                Объектив художника - это единственная нить, которая протягивается через Край Реальности. 
                Вуд-Эванс интересуется не копиями, а раскопками. С каждым произведением художник удаляет слой за слоем, 
                чтобы освободить произведение искусства от любой фиксированной интерпретации. 
                Призраки оригинального эталонного материала остаются, но окутаны незнакомой атмосферой и 
                измененными композициями. Справочный материал для The Edge of Reality включает в себя отрывки 
                из канона западного классического искусства. Работы Джошуа Рейнольдса, Джона Сингера Сарджента, 
                Джорджа Стаббса и Дж.У. Уотерхауса, кажется, проплывают перед нами. 
            </p>
        </div>
        <div class="cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a asp-action="GroupExhibition"><img src="https://artlogic-res.cloudinary.com/w_2000,h_1600,c_limit,f_auto,fl_lossy,q_auto:good/ws-unitlondon3/usr/exhibitions/images/feature_panels/1952/unitlondon-148-jpeg.jpg" width="500" height="500" alt=""></a>
        </div>
    </div>
</div>

<main class="main pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <article class="mb-4">
                    <a>
                        <img class="card-img" src="https://artlogic-res.cloudinary.com/w_800,c_limit,f_auto,fl_lossy,q_auto:good/artlogicstorage/unitlondon/images/view/9a8727c7602e4bd17a6a47c29b44557aj/unitlondon-paa-joe-air-jordan-mini-sculpture-2022.jpg" alt="">
                    </a>
                    <header class="card-header">
                        <a >
                            <h4 class="nav-linkt card-title">Paa Joe · Air Jordan Mini Sculpture</h4>
                        </a>
                    </header>
                </article><!-- /.card -->

                <article class="mb-4">
                    <a>
                        <img class="card-img" src="https://artlogic-res.cloudinary.com/w_800,c_limit,f_auto,fl_lossy,q_auto:good/artlogicstorage/unitlondon/images/view/98ed39f8229b9f2cb3e601d6df553fe4j/unitlondon-saskia-fleishman-moonrise-vase-2021.jpg" alt="">
                    </a>
                    <header class="card-header">
                        <a>
                            <h4 class="nav-linkt card-title">Saskia Fleishman · Moonrise Vase</h4>
                        </a>
                    </header>
                </article><!-- /.card -->

                <article class="mb-4">
                    <a>
                        <img class="card-img" src="https://artlogic-res.cloudinary.com/w_800,c_limit,f_auto,fl_lossy,q_auto:good/artlogicstorage/unitlondon/images/view/c0e5f24c482bb26434c5f03cdc589ce8j/unitlondon-jiha-moon-open-2022.jpg" alt="">
                    </a>
                    <header class="card-header">
                        <a >
                            <h4 class="nav-linkt card-title">Jiha Moon · Open</h4>
                        </a>
                    </header>
                </article>
            </div>

            <div class="col-md-4">
                <article class="mb-4">
                    <a>
                        <img class="card-img" src="https://artlogic-res.cloudinary.com/w_800,c_limit,f_auto,fl_lossy,q_auto:good/artlogicstorage/unitlondon/images/view/7fcc038ebbebd9ab609c0d99a331ef29j/unitlondon-alma-berrow-2021.jpg" alt="">
                    </a>
                    <header class="card-header">
                        <a>
                            <h4 class="nav-linkt card-title">Alma Berrow · White earthenware</h4>
                        </a>
                    </header>
                </article><!-- /.card -->

                <article class="mb-4">
                    <a>
                        <img class="card-img" src="https://artlogic-res.cloudinary.com/w_800,c_limit,f_auto,fl_lossy,q_auto:good/artlogicstorage/unitlondon/images/view/d24efccdce7f0672994d1d97887ba7d9j/unitlondon-matt-wedel-mourning-bench-head-2020.jpg" alt="">
                    </a>
                    <header class="card-header">
                        <a>
                            <h4 class="nav-linkt card-title">Matt Wedel · Mourning Bench Head</h4>
                        </a>
                    </header>
                </article><!-- /.card -->

                <article class="mb-4">
                    <a>
                        <img class="card-img" src="https://artlogic-res.cloudinary.com/w_800,c_limit,f_auto,fl_lossy,q_auto:good/artlogicstorage/unitlondon/images/view/582f04092952d19fc35ca684daf31f8fj/unitlondon-raven-halfmoon-rothko-lover-2022.jpg" alt="">
                    </a>
                    <header class="card-header">
                        <a>
                            <h4 class="nav-linkt card-title">Raven Halfmoon · Rothko Lover</h4>
                        </a>
                    </header>
                </article>
            </div>

            <div class="col-md-4">
                <article class="mb-4">
                    <a>
                        <img class="card-img" src="https://artlogic-res.cloudinary.com/w_800,c_limit,f_auto,fl_lossy,q_auto:good/artlogicstorage/unitlondon/images/view/89fc87a0e187282dc338c8526bdca57cj/unitlondon-stacey-gillian-abe-how-would-you-like-your-vaginas-..-2017.jpg" alt="">
                    </a>
                    <header class="card-header">
                        <a>
                            <h4 class="nav-linkt card-title">Stacey Gillian Abe · Terracota vulvas</h4>
                        </a>
                    </header>
                </article><!-- /.card -->

                <article class="mb-4">
                    <a>
                        <img class="card-img" src="https://artlogic-res.cloudinary.com/w_800,c_limit,f_auto,fl_lossy,q_auto:good/artlogicstorage/unitlondon/images/view/e4f3d8ef0fb8d7727ff986c2fd3c8b99j/unitlondon-lei-xue-drinking-tea-2021.jpg" alt="">
                    </a>
                    <header class="card-header">
                        <a>
                            <h4 class="nav-linkt card-title">Lei Xue · Drinking Tea</h4>
                        </a>
                    </header>
                </article><!-- /.card -->

                <article class="mb-4">
                    <a>
                        <img class="card-img" src="https://artlogic-res.cloudinary.com/w_800,c_limit,f_auto,fl_lossy,q_auto:good/artlogicstorage/unitlondon/images/view/9b91f75234351cde06333440e99a9342j/unitlondon-annemarie-laureys-provisions-i-have-plenty-of-nothing-2021.jpg" alt="">
                    </a>
                    <header class="card-header">
                        <a>
                            <h4 class="nav-linkt card-title">AnneMaie Laureys · Provisions I Have Plenty Of Nothing</h4>
                        </a>
                    </header>
                </article>
            </div>
        </div>
    </div>
</main>

</body>