<header class="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 shadow-sw">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="MainPage">MOMA.</a>
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="MainPage">Главная страница</a>
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="Magic1">Билеты</a>
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="Magic1">Посетителям</a>
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="Exhibitions">Экспонаты</a>
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="Magic1">События</a>
            <a class="nav-links my-0 mr-md-auto font-weight-normal" asp-action="Magic1">О музее</a>
        </nav>
    </div>
</header>